* {
    box-sizing: border-box;
    font-family: Aktifo-A;
    margin: 0;
}

@font-face {
    font-family: 'Aktifo-A';
    src: url('Aktifo-A-Light.ttf');
}

header {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

/* Logo */
.logo {
    display: flex;
    justify-content: flex-start;
}

.logo img {
    height: 52px; 
    width: 59.006px;
}

.logo span {
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
}

/* Barra de pesquisa */
.barrapesquisa {
    display: inline;
    text-align: center;
}

.barrapesquisa input[type=text] {
    border: 3px solid #000;
    border-radius: 10px;
    height: 45px;
    width: 764.6px;
}

.barrapesquisa ::placeholder {
    color: #7D7C83;
    font-size: 0,875em;
    font-weight: 500;
    padding-left: 10px;
}

.barrapesquisa button {
    background: none;
    border: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px; /* Tamanho do ícone */
    margin: auto -8%;
    padding: 10px 20px;
}

/* Botões */
.botaoicon {
    background: none;
    border: none;
    font-size: 25px; /* Tamanho do ícone */
}

#botaologin {
    background: #E9E9E9;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    height: 39px;
    width: 81px;
}

#botaocadastro {
    background: #1ED760;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    height: 39px;
    width: 144px;
}

/* Menu */
.menu {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
}

.fa-bars::before { /* Ícone do menu "Minha estante" */
    margin-right: 3px;
}

.menu a {
    color:#000;
    font-weight: 700;
    padding: 0px 90px;
    text-decoration: none;
}

#barrinha {
    background: linear-gradient(to right, #fe4632 25%, #1ed760 25%, #1ed760 50%, #2d46ba 50%, #2d46ba 75%, #fae62d 75%);
    border-style: none;
    height: 4px;
}

/* Recomendações */

.recomendacoes {
    margin-top: 50px;
}

.recomendacoes h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.background {
    background: #F8F8F8;
    display: flex;
    height: 525px;
    margin: auto;
}

/* Card - Recomendações do dia */

.cardrecomend {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 402px;
    margin: auto;
    width: 1070px;
}

.cardcapa {
    background-color: #000;
    display: inline-block;
    margin: 56.25px 30px 56.25px 156px;
    height: 290px;
    width: 190px;
}

table {
    display: inline-block;
}

#titulo {
    font-size: 2em;
    font-weight: 800;
    text-align: left;
}

/* Botão "Reservar" */

.fa-plus::before { /* Ícone do botão "Reservar" */
    margin-right: 10px;
    stroke-width: 2px;
}

.reservacard {
    color: #FFFFFF;
    background-color: #000;
    border: 0 solid #000;
    border-radius: 10px;
    font-size: 0.9375em;
    font-weight: 700;
    height: 34px;
    margin-left: -150px;
    text-align: center;
    text-transform: uppercase;
    width: 143px;
}

td {
    font-weight: 600;
    font-size: 1.25em;
}

.cardavaliacao {
    color: #fae62d;
    font-size: 25px; /* Tamanho do ícone */
    justify-content: space-between;
    margin: 20px 0;
    width: 224.719px;
}

.sinopse {
    font-size: 1.03125em;
    font-weight: 500;
    text-align: justify;
    width: 522px;
}


/* Cards - Livros */

.cardslivros {
     text-align: center;
     margin: 50px 0px 95px;
}

.titulo {
    margin: 0px 0px 45px 85px;
    text-align: left;
}

.card {
    background: #F7F7F8;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
    height: 485px;
    margin: 0px 50px 0px;
    width: 255px;
}

.capa {
    background-color: #000;
    height: 250px;
    margin: 38px 36px 10px;
    width: 181.875px;
}

.titulolivro {
    font-size: 14px;
    font-weight: 700;
}

p {
    font-weight: 500;
    font-size: 12px;
    margin: 3.5px 36px 0px 36px;
    text-align: left;
}

.avaliacao {
    color: #fae62d;
    justify-content: space-between;
    margin: 3px 0px 4px 36px;
    text-align: left;
}

.reserva {
    background: #BFBFBF; /* Precisa de outra cor */
    border: none;
    border-radius: 10px;
    font-weight: 700;
    height: 34px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 170px
}

.generos {
    text-align: center;
    margin: 50px 0px 95px;
}

.cardsgeneros {
    display: inline-block;
}

.gencard {
    border-radius: 40px;
    display: inline-block;
    height: 150px;
    margin: 0px 10px 0px 10px;
    width: 250px;
}

.nomegen {
    color: #FFF;
    font-size: 19px;
    font-weight: 600;
    margin: 31px 0px 0px 22px;
    text-align: left;
}

.iconecardgen {
    display: inline;
    height: 70px;
    margin: 0px 25px 0px 145px;
    opacity: 0.5;
    text-align: right;
    width: 70px;
}