* {
  box-sizing: border-box;
  font-family: "Aktifo-A";
  margin: 0;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-ExtraBoldOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo-A";
  src: url("/fonts/Aktifo-A/Aktifo-A-SemiBoldOblique.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

svg {
  display: block;
  margin: 5% auto 0;
}

form {
  border: #000 solid 2px;
  border-radius: 10px;
  height: 740px;
  margin: auto;
  width: 475px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 74px 0 46px;
  text-align: center;
}

div {
  display: inline-block;
  margin: 15px 85px;
}

label {
  display: block;
  font-size: 1em;
  font-weight: 600;
  /* margin: auto; */
}

input {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  font-weight: 600;
  height: 45px;
  padding-left: 10px;
  width: 300px;
}

p {
  font-size: 12px;
  font-weight: 500;
}

a {
  color: #1ed760;
  font-weight: 800;
}

button {
  display: inline-block;
}

i {
  font-size: 20px;
}

.btn-create {
  background-color: #1ed760;
  border: none;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  height: 50px;
  margin: 35px auto 0;
  width: 295px;
}

.btn-password {
  align-items: center;
  background: none;
  border: none;
  display: inline;
  margin-left: -50px;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#error-message {
  margin: 0px 85px;
  text-align: left;
}
