<!-- edit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Catálogo</title>
</head>
<body>

<h2>Editar Catálogo</h2>

<!-- Formulário para editar o catálogo -->
<form action="/catalogues/save" method="post">
    <!-- Campos do formulário -->
    <input id="id" type="hidden" th:field="${catalogue.id}" />

    <label for="id">Título:</label>
    <input type="text" th:field="${catalogue.titulo}" />


    <label for="id">Autor:</label>
    <input type="text" th:field="${catalogue.autor}" />


    <label for="id">Lançamento:</label>
    <input type="text" th:field="${catalogue.lancamento}" />


    <label for="id">Classificação indicativa:</label>
    <select id="classificacao_indicativa" name="classificacao_indicativa">
        <option value="0">Livre</option>
        <option value="10">+10</option>
        <option value="12">+12</option>
        <option value="14">+14</option>]
        <option value="16">+16</option>
        <option value="18">+18</option>
    </select>


    <!-- Botão para enviar o formulário -->
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

</body>
</html>
