<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIB</title>
</head>

<body>

<a href="catalogues/add">Adicione um novo livro ao sistema</a>

<!--<h1>Usuário</h1>-->
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Lançamento</th>
        <th>Classificação</th>
        <th>Código</th>
        <th>Editar</th>
        <th>Excluir</th>





    </tr>
    </thead>

    <tbody>


    </tbody>

    <tbody>
    <tr th:each ="c : ${catalogues}">
        <td th:text=" ${c.id}"></td>
        <td th:text=" ${c.titulo}"></td>
        <td th:text=" ${c.autor}"></td>
        <td th:text=" ${c.lancamento}"></td>
        <td th:text=" ${c.classificacao_indicativa}"></td>
        <td th:text=" ${c.codigo}"></td>


        <td>

            <a th:href="@{/catalogues/edit/{id}(id=${c.id})}" class="btn btn-warning">Editar</a>

            <a href="#"
                th:onclick="'if(confirm(\'Confirma?\')) {window.location.href = \'' + @{/catalogues/{id}(id=${c.id})} + '/excluir\'}'"
                class="btn btn-danger">
            Excluir
        </a>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>