* {
  box-sizing: border-box;
  font-family: "Aktifo-A";
  margin: 0;
}

svg {
  display: block;
  margin: 5% auto 0;
}

form {
  border: #000 solid 2px;
  border-radius: 10px;
  height: 2786px;
  margin: auto;
  width: 1241px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 74px 0 46px;
  text-align: center;
}

div {
  margin: 15px 85px;
}

label {
  display: block;
  font-size: 1em;
  font-weight: 600;
  /* margin: auto; */
}

b {
  color: #FE4632;
}

/* input {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  font-weight: 600;
  height: 45px;
  padding-left: 10px;
  width: 300px;
} */

p {
  font-weight: 600;
}

a {
  color: #1ed760;
  font-weight: 800;
}

.card-info {
  background-color: #eaedfa;
  border-radius: 10px;
  display: flex;
  height: 150px;
  margin: auto;
  width: 865px;
}

.fa-info {
  color: #2d46ba;
  font-size: 68px;
  height: 68px;
  margin: 41px 40px;
  text-align: center;
  width: 68px;
}

.c-info-texto {
  display: inline-block;
  margin: 0;
  width: 684px;
}

.info-azul {
  color: #2d46ba;
  margin: 37px 0 18px;
}

.info-vermelho {
  color: #FE4632;
  margin-bottom: 35px;
}
