<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIB</title>
</head>

<body>
<!--<h1>Usuário</h1>-->
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>CPF</th>
            <th>Nascimento</th>
            <th>Email</th>
            <th>Responsável</th>
            <th>Nome</th>
            <th>Senha</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each ="user : ${users}">
            <td></td>
            <td th:text=" ${user.cpf}"></td>
            <td th:text=" ${user.dataNascimento}"></td>
            <td th:text=" ${user.email}"></td>
            <td th:text=" ${user.idResponsavel}"></td>
            <td th:text=" ${user.nome}"></td>
            <td th:text= " ${user.senha}"></td>
            <td> <a href="#" class="btn btn-warning">Editar
            </a>
            </td>
            <td>
                <a href="#"
                   th:onclick="if(confirm\'Confirma ?\')) {window.location.href= \''+ @{/user/List/{id}(id=${user.id})}/excluir} + '\'"
                   class="btn btn-danger">
                    Excluir
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</body>
</html>